<!-- TEMPLATE FOR ONE PRODUCT -->

<li class='eb-recommendation' data-product-id='<%= recommendations[i].product._id.original_id %>'>
    <a href='<%= recommendations[i].product.url %>' class='eb-product'>
        <img class='eb-product-img' src='<%= recommendations[i].product.photo%>' alt=''>
    </a>
    <div class='eb-product-infos'>
        <a href='<%= recommendations[i].product.url %>' class='eb-product'>
            <h3 class='eb-product-title'><%= recommendations[i].product.title %></h3>
            <h3 class='eb-product-brand'><%= recommendations[i].product.brand %></h3>
        </a>
        <div class='eb-product-price'>
            <p class='eb-price-sale'><%= recommendations[i].product.price%>€</p>
            <p class='eb-price-before'><%= recommendations[i].product.salesprice%>€</p>
        </div>
    </div>
</li>

